
h1{
    font-size: 100px;
    font-family: fantasy;
    background-image: url(./background-image-2023773__340.jpg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}